<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" >
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
		<title>ATC Data-Platform</title>
		<link rel="stylesheet" href="static/css/bootstrap.css" />
		<link rel="stylesheet" href="static/css/demo1_style.css" />
		<link rel="stylesheet" href="static/css/demo1_base.css" />
    </head>
    <body>
			<div class="bg_header">
				<div class="header_nav fl t_title">
					Data-Platform
				</div> 
			</div>
			<div class="header_nav fl">
			</div>
			<div class="header_myself fr t_height">
				<a class="t_a" href="new1.html"> More &nbsp;</a>
			</div>
		</div>

		<div class="wrapper">
			<div class="container-fluid">
				<div class="row fill-h">
					<div class="col-lg-7 fill-h">
						<div class="xpanel-wrapper xpanel-wrapper-1">
							<div class="xpanel">
								<div id="graph_1" class="fill-h"></div>
							</div>
						</div>
					</div>
					<div class="col-lg-5 fill-h">
						<div class="xpanel-wrapper-4-1 xpanel-wrapper-2">
							<div class="xpanel">
								<div id="graph_2" class="fill-h"></div>
							</div>
						</div>
						<div class="xpanel-wrapper-4 xpanel-wrapper-2">
							<div class="xpanel">
								<div id="graph_3" class="fill-h"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    <footer id="footer">
       <div align="center">
          <input  style="width: 800px;height:40px" class="input" type="text" placeholder="请输入流控报文">
	      <button type="submit" id="login-button">Enter</button>
       </div>
    </footer>
	
	<script type="text/javascript" src="static/js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="static/js/echarts.min.js"></script>
	<script type="text/javascript" src="static/js/graph_d2.js"></script>
	</body>
</html>